/* Write your CSS here */
.vaccination-by-gender-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  margin-bottom: 18px;
  padding: 22px;
}

.heading {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 1.5;
}
